asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
dj-database-url==3.0.1
Django==5.2.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
gunicorn==23.0.0
idna==3.10
joblib==1.5.1
nltk==3.9.1
packaging==25.0
PyJWT==2.9.0
python-decouple==3.8
python-dotenv==1.1.1
regex==2024.11.6
requests==2.32.4
soupsieve==2.7
sqlparse==0.5.3
textblob==0.19.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
